<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Recommender</title>
</head>
<body>
    <h3>Crop Recommender</h3>
    <form action="/result" method="post">
        <label for="N">N</label>
        <input type="text" id="N" name="N">
        <br>
        <label for="P">P</label>
        <input type="text" id="P" name="P">
        <br>
        <label for="K">K</label>
        <input type="text" id="K" name="K">
        <br>
        <label for="Temperature">Temperature</label>
        <input type="text" id="Temperature" name="Temperature">
        <br>
        <label for="humidity">Humidity</label>
        <input type="text" id="humidity" name="humidity">
        <br>
        <label for="ph">PH</label>
        <input type="text" id="ph" name="ph">
        <br>
        <label for="rainfall">Rainfall</label>
        <input type="text" id="rainfall" name="rainfall">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>