<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CROP RECOMMENDER SYSTEM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="static/img/field.png">
</head>

<body>
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
                    <a href="#" class="navbar-brand">FARMER'S ASSISTANT</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link">BLOG</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">SERVICES</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-md-6 offset-md-3 info">
                <p class="text-center">
                    Welcome to FARMER'S ASSISTANT.
                    A Machine Learning System that is designed to help you as a farmer to decide which crop is best suited for your field.
                    To begin, fill in the required details in the form below. 
                    Using the information you provide, the System will recommend to you the best crop suited for your farm.
                </p>
            </div>
            <div class="col-md-8 offset-md-2 form">
                <form action="/result" method="POST">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3">
                            <label for="N" class="form-label">Nitrogen (N)</label>
                            <input type="text" class="form-control" id="N" name="N" required>
                        </div>
                        <div class=" col-sm-6 mb-3">
                            <label for="P" class="form-label">Phosphorous (P)</label>
                            <input type="text" class="form-control" id="P" name="P" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="K" class="form-label">Potassium (K)</label>
                            <input type="text" class="form-control" id="K" name="K" required>
                          </div>
                        <div class="col-sm-6 mb-3">
                            <label for="temp" class="form-label">Temperature</label>
                            <input type="text" class="form-control" id="temp" name="temp" required>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="humidity" class="form-label">Humidity</label>
                            <input type="text" class="form-control" id="humidity" name="humidity" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="ph" class="form-label">Soil PH</label>
                            <input type="text" class="form-control" id="ph" name="ph" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label for="rainfall" class="form-label">Rainfall</label>
                            <input type="text" class="form-control" id="rainfall" name="rainfall" required>
                        </div>
                        <div class="col-sm-8 mb-3">
                            <button type="submit" class="btn btn-success">SUBMIT</button>
                            <button type="reset" class="btn btn-danger">CLEAR INPUT</button>
                        </div>
                 
                    </div>
                  </form>
            </div>
        </div>
    </div>    
</body>

</html>
